<% include include/header.ejs %>

<article>
	<h2>BECCA</h2>
	<ul>
		<li>Blockchained</li>
		<li>Energy </li>
		<li>Certificates</li>
		<li>Coins</li>
		<li>Advisory</li>
	</ul>
</article>

<% include include/footer.ejs %>
