<% include include/header.ejs %>



<div id="carouselExampleIndicators" class="carousel slide row" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<%# <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>%>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active">
				<img class="d-block img-fluid" src="https://static.pexels.com/photos/247175/pexels-photo-247175.jpeg" alt="First slide">
				<div style="    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: white;
    text-shadow: 2px 2px #000000;
		padding: 0px 50px">
					<h1 style="font-size: 7vw;">Blockchained Energy Certificates & Coins Advisory</h1>
				</div>
		</div>
		<%# <div class="carousel-item">
				<img class="d-block img-fluid" src="https://static.pexels.com/photos/246642/pexels-photo-246642.jpeg" alt="Second slide">
		</div>%>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>



<div class="container">
	<div style="height: 100px">	</div>



	<div class="card-deck">
	  <div class="card">
	    <img class="card-img-top" src="https://placeimg.com/200/200/people" alt="Card image cap">
	    <div class="card-block">
	      <h4 class="card-title">For the people</h4>
	      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="https://placeimg.com/200/200/tech" alt="Card image cap">
	    <div class="card-block">
	      <h4 class="card-title">Thechnology</h4>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="https://placeimg.com/200/200/nature" alt="Card image cap">
	    <div class="card-block">
	      <h4 class="card-title">Green</h4>
				<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	</div>

</div>

<% include include/footer.ejs %>
