<% include include/header-backend.ejs %>


<div class="container">
	<div class="row">

		<div class="col-sm-12 col-md-8">
			<h2>User : <%= user.username %> </h2>
			<hr/>
			<span>$ 4,91</span>
		</div>

		<div class="col-sm-12 col-md-4">
	    <canvas id="myChart"></canvas>
	  </div>

	</div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript">
	var ctx = document.getElementById("myChart").getContext('2d');
	var myChart = new Chart(ctx, {
	type: 'pie',
	data: {
		labels: ["M", "T", "W", "T", "F", "S", "S"],
		datasets: [{
			backgroundColor: [
				"#2ecc71",
				"#3498db",
				"#95a5a6",
				"#9b59b6",
				"#f1c40f",
				"#e74c3c",
				"#34495e"
			],
			data: [12, 19, 3, 17, 28, 24, 7]
		}]
	}
	});
</script>
<div id="code"></div> 
    <div id="status"></div>
    <div id='create'>
        <button type="button" onClick="createExampleContract();">create example contract</button>
    </div>
    <div id='call' style='visibility: hidden;'>
        <div>var array = [0,6,5,2,1,5,6];</div>
        <div>var x = array[
            <input type="number" id="value" onkeyup='callExampleContract()'></input>
        ];
        </div>
    </div>
    <div id="result"></div>


<% include include/footer.ejs %>
