<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="uu-team">
		<title>BECCA</title>

		<link href="Conf/css/bootstrap4.css" rel="stylesheet" />
		<link href="Conf/css/carousel.css" rel="stylesheet" />
		<link href="Conf/css/font-awesome.min.css" rel="stylesheet" />

		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<%# <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">%>
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	</head>
	<body>

		<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="/">BECCA</a>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
		      <a class="nav-item nav-link" href="/prices">Prices</a>
					<a class="nav-item nav-link" href="/login">Login</a>
		      <a class="nav-item nav-link" href="/register">Register</a>
		    </div>
		  </div>
		</nav>
